<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--   数据源 spring去做-->
    <typeAliases>
        <package name="top.spirit.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="top.spirit.controller.BookController"/>
    </mappers>
</configuration>